.logout-button {
    background-color: #ff4b5c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: right;
    margin-right: 10px;
}

.logout-button:hover {
    background-color: #ff2a3b;
}

.logout-button:active {
    background-color: #d40017;
}
.scroll{
    overflow-y: auto;
}
.user-name{
    color: #fff;
    font-size: 16px;
    margin: auto 5px;
}