.logout-button {
    background-color: #ff4b5c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: right;
    margin-right: 10px;
}

.logout-button:hover {
    background-color: #ff2a3b;
}

.logout-button:active {
    background-color: #d40017;
}
.scroll{
    overflow-y: auto;
}
.user-name{
    color: #fff;
    font-size: 16px;
}
.user-info {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
  
.avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.user-info ul{
    position: absolute;
    top: 58px;
    right: 30px;
    list-style: none;
}
.user-info ul li {
    border-bottom: 1px solid var(--primary-bg-color);
    font-size: 16px;
    padding: 5px;
    color: #fff;
    background-color: var(--primary-bg-color);
}
.user-info ul li:last-child:hover {
    background-color: #fff;
    color: var(--primary-bg-color);
    cursor: pointer;
}
.fa-angle-down{
    color: #fff;
}