<div class="container">
    <div class="task-container">
      <!-- <i class="fa-solid fa-book" aria-hidden="true"></i> -->
      <img src="assets/img/toDo.svg" alt="task-list" height="30px" width="30px">
    </div>
    <div class="login-wrapper">
        <ng-container *ngIf="!showLogoutButton">
            <button type="button" routerLink="/login" routerLinkActive="active">Login</button>
            <button type="button" routerLink="/signup" routerLinkActive="active">Signup</button>
        </ng-container>
        <ng-container *ngIf="showLogoutButton">
            <!-- <span class="user-name">{{user ? 'Hello!! ' : ''}}{{user?.firstName}}&nbsp;{{user?.lastName}}</span>
            <button type="button" class="active" (click)="logout()">Logout</button> -->
            <div class="user-info">
              <img class="avatar" src="assets/img/user.png" alt="User Avatar"> <i class="fa-solid fa-angle-down" style="color: #ffffff;" (click)="showList=!showList"></i>
              <ul *ngIf="showList">
                <li class="user-name">
                  {{user?.firstName}}&nbsp;{{user?.lastName}}
                </li>
                <li (click)="logout()">
                  Logout
                </li>
              </ul>
            </div>
        </ng-container>
    </div>
  </div>
  <div class="scroll">
    <router-outlet></router-outlet>
    <app-loader></app-loader>
  </div>
  <app-alert-box></app-alert-box>